.CountryInfo-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas:
    "generalandimgs map"
}

.info-and-images-container {
  grid-area: "generalandimgs";

  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 100%;
  grid-template-areas:
    "general"
    "images"
}

.map-container {
  grid-area: "map";
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info-container {
  grid-area: "general";
}

.info-div {
  font-family: 'Quicksand', cursive;
}

.images-container {
  grid-area: "images";
}

.info-items {
  margin-top: 8px;
  margin-bottom: 4px;
}

.img-carousel {
  height: 100% !important;
  margin-top: 20px !important;
  margin-right: 20px !important;
}

.carousel, .carousel-div {
  height: 100% !important;
}

.control-arrow {
  height: 400px !important;
}

.general-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.countryimg {
  width: 615px;
  height: auto;
}

.images-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -20px;
  margin-right: 20px;
  font-family: 'Quicksand', cursive;
}

.moreimgs-link {
  margin-top: 15px;
}

.fav-btn:focus, .fav-btn:active {
  background-color: buttonface !important;
}

.fav-btn {
  height: 38px;
  width: 150px;
  padding: 0px !important;
  border-radius: 5px;
  background: #EAEAEA;
}

.countryflag {
  height: 200px;
  width: auto;
  padding-right: 20px;
}

.countryInfoItem {
  font-size: 16px;
}

.country-name {
  margin: 0px !important;
}

.country-capital {
  margin: 0px !important;
}

.country-capital {
  font-style: italic;
}
