/******************************************************************************/
/* Favorites */
/******************************************************************************/
.Favorites {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 80%;
  /* border: 1px solid black; */
  padding: 20px;
  margin-left: 10%;
  margin-bottom: 5%;
}

.favorites-header-container {
  display: flex;
  flex-direction: column;
}

.favorites-header {
  align-self: center;
  font-size: 34px;
  font-family: 'Pacifico', cursive;
}

.favorites {
  display: flex;
  flex-wrap: wrap;
}

.favoriteCountry {
  width: 350px;
  height: 260px;
}

.favoriteCountry-img img {
  width: 350px;
  height: auto;
}

.favoriteCountry-div {
  position: relative;
  width: 350px;
  height: 260px;
  max-width: 350px;
  max-height: 260px;
  border: 2px solid black;
  margin: 8px 0 8px 13px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.favorite-name {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px black;
  font-size: 22px;
  position: absolute;
  bottom: 0;
  padding-left: 20px;
  margin: 0px 0px 20px 0px !important;
  /* -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
}

.favoriteCountry-div img {
  width: 350px;
}

.filter-wrapper {
  width: 95%;
  align-self: center;
}
