.nav {
  background: #531C42 !important;
  opacity: 0.8;
  border-bottom: 1px solid black;
}

nav {
  background: none !important;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 14px;
}

#logo {
  margin-left: 14px;
  font-family: 'Pacifico', cursive;
  font-size: 34px;
}

.navlink {
  padding: 20px 14px 20px 14px;
}

.navlink:hover {
  background: #581845;
  border-bottom: 3px solid black;
}

.navlink:active {
  background: #581845;
  border-bottom: 3px solid black;
}

.navlink:focus {
  background: #581845;
  border-bottom: 3px solid black;
}

.brand-logo {
  float: left;
  position: static !important;
  padding-left: 25px !important;
  font-family: 'Pacifico', cursive;
}
