.nav {
  background: #29274C !important;
  border-bottom: 1px solid black;
}

nav {
  background: none !important;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 14px;
}

#logo {
  margin-left: 14px;
  font-family: 'Pacifico', cursive;
  font-size: 34px;
}

.logo-div {
  margin-left: 10px;
  fill: white;
  width: 60px;
  height: 60px;
  background: url("../images/airplane.svg");
  background-size: 60px 60px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.logo-container {
  display: flex;
}

.navlink {
  padding: 20px 14px 20px 14px;
  font-family: 'Quicksand', cursive;
  font-weight: bold;
}

.navlink:hover {
  background: #29274C;
  border-bottom: 3px solid black;
}

.navlink:active {
  background: #29274C;
  border-bottom: 3px solid black;
}

.navlink:focus {
  background: #29274C;
  border-bottom: 3px solid black;
}

.brand-logo {
  float: left;
  position: static !important;
  padding-left: 25px !important;
  font-family: 'Pacifico', cursive;
}
