/******************************************************************************/
/* Recommendations */
/******************************************************************************/
.Recommendations {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 80%;
  /* border: 1px solid black; */
  padding: 20px;
  margin-left: 10%;
  margin-bottom: 5%;
}

.recommendations-header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10%;
}

.recommendations-header {
  align-self: center;
  font-size: 34px;
  font-family: 'Pacifico', cursive;
}

.quiz-buttons-and-header {
  display: flex;
  justify-content: space-around;
}

.back2quiz {
  width: 125px;
  font-size: 14px;
  padding: 0px !important;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.retakeQuiz {
  width: 125px;
  font-size: 14px;
  padding: 0px !important;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.recommended-fav-icon {
  float: right;
  padding-top: 4px;
  padding-right: 4px;
  border: none;
}

.recommendations-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.recommendations {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recommendedCountry-div {
  position: relative;
  width: 350px;
  height: 260px;
  border: 2px solid black;
  margin: 8px 0 8px 0;
  background-size: cover;
  background-position: center;
}

.recommendation-name {
  color: white;
  font-size: 22px;
  position: absolute;
  bottom: 0;
  padding-left: 20px;
  margin: 0px 0px 20px 0px !important;
  /* -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
}

.recommendedCountry-div img {
  width: 350px;
}
