/******************************************************************************/
/* App */
/******************************************************************************/
.App {
  /* text-align: center; */
}

.card .card-image .card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  font-family: 'Quicksand', cursive;
}

.ReactModal__Content {
  top: 20px !important;
  bottom: 20px !important;
  padding-bottom: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {f
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input {
  border-bottom: 1px solid #343477 !important;
}

input:focus {
  box-shadow: 0px 1px 0px 0px #343477 !important;
}

/******************************************************************************/
/* Main */
/******************************************************************************/
.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  
}

.form-header {
  font-size: 14pt;
}

.inputs-container {
  border: 1px solid grey;
  padding: 5px;
}

#map {
  width: 100%;
  height: 100%;
  max-width: 600px;
}

.countryimg {
  max-width: 1000px;
}

.pending {
  position: fixed;
  top: 50%;
  left: 50%;
}

.answerChoicesChips {
  margin-top: 10px;
}

.btn {
  background: #AA8C39 !important;
}

/******************************************************************************/
/* Login & Signup Forms */
/******************************************************************************/
.login-form {
  width: 900px;
  margin-top: 90px;
  padding: 15px;
  border: 1px solid #333333;
}

.signup-form {
  width: 900px;
  margin-top: 90px;
  padding: 15px;
  border: 1px solid #333333;
}

.login-signup-redirect {
  margin-top: 10px;
}

.form-redirect {
  margin-top: 10px;
  padding: 6px;
}

.form-header {
  margin-left: 10px;
}

input[type=password]+label:after, input[type=email]+label:after {
  width: 400px;
}
