/******************************************************************************/
/* App */
/******************************************************************************/
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/******************************************************************************/
/* Home */
/******************************************************************************/
.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "question-and-question-count"
    "answer-choices";
  border: 2px solid black;
  width: 80%;
  padding: 1%;
  margin-bottom: 200px;
}

.question-and-question-count-container {
  grid-area: "question-and-question-count";
  display: grid;
  grid-template-columns: auto 50px;
  grid-template-rows: 100%;
  grid-template-areas: "question question-counter";
}

.question-container {
  grid-area: "question";
}

.question-counter-container {
  grid-area: "question-counter";
}

.question-form {
  grid-area: "answer-choices";
}

.prev-next-questions-btns {
  margin-top: 10px;
  float: right;
}

.prevbtn {
  margin-right: 15px;
}

.submit-question-btn {
  margin-top: 10px;
  float: right;
}

.form-header {
  font-size: 14pt;
}

.inputs-container {
  border: 1px solid grey;
  padding: 5px;
}

/******************************************************************************/
/* Login Form */
/******************************************************************************/
.login-form {
  width: 900px;
  margin-top: 90px;
  padding: 15px;
  border: 1px solid #333333;
}

.form-header {
  margin-left: 10px;
}

input[type=password]+label:after, input[type=email]+label:after {
  width: 400px;
}

/******************************************************************************/
/* Signup Form */
/******************************************************************************/
.signup-form {
  width: 900px;
  margin-top: 90px;
  padding: 15px;
  border: 1px solid #333333;
}
