/******************************************************************************/
/* App */
/******************************************************************************/
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/******************************************************************************/
/* Nav */
/******************************************************************************/


/******************************************************************************/
/* Login Form */
/******************************************************************************/
.login-form {
  width: 900px;
  margin-top: 90px;
  padding: 15px;
  border: 1px solid #333333;
}

.form-header {
  margin-left: 10px;
}

/******************************************************************************/
/* Signup Form */
/******************************************************************************/
.signup-form {
  width: 900px;
  margin-top: 90px;
  padding: 15px;
  border: 1px solid #333333;
}
